.app-wrapper {
    display: grid;
    padding: 4rem 1rem;
    margin: 0 auto;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 5px;
    row-gap: 1rem;
    font-family: calibri;
    width: 40%;
}
.app-title {
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
    /* color: red; */
}

.app-input-grp {
    display: flex;
    gap: 2rem;
    place-content: center;
}

.app-input-grp input {
    padding: 8px 12px;
    width: 20%;
    flex-grow: 1;
}

#generate_btn {
    background-color: rgb(48, 48, 166);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}

#output {
    text-align: center;
    font-size: 2rem;
    color: rgb(15, 230, 158);
}
